ul {
    list-style-type: none;
    display:inline-block;
    padding-left: 0pt;
}
  
h4 {
    font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

li img {
    float: left;
    margin: 0 15px 0 0;
    width: 30%;
}

li p {
    font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

li {
    padding: 10px;
    overflow: auto;
    border-bottom: 1px solid black;
}

li:hover {
    background: #eee;
    cursor: pointer;
}

.regularPrice {
    color: grey;
    float: left;
    padding-left: 20%;
    text-align: center;
    text-decoration: line-through;
}

.discountPrice {
    float:right;
    padding-right: 20%;
    text-align: center;
}

.inlinePrices {
    margin: 0 auto;
}